.header{
    background: brown;
    position: fixed;
    z-index: 999;
    text-align: center;
    color: white;
    font-size: 20px;
    width: 100%;
    height: 50px;
    padding-top: 13px;
    font-family: serif;
}

.main{
    margin-top: 50px;
    position: absolute;
}

.main-back{
    background-image: url(./img/red-width.jpg);
    width: 100vw;
    height: 500px;
    position: relative;
}

.main-text{
    position: absolute;
    top: 12%;
    left: 51%;
    transform: translate(-50%, -50%); 
    font-family: serif;
    color: brown;
    font-size: 100px;
    font-weight: 900;
    text-align: center;
    z-index: 1; /* .main-text を手前に表示 */
}

.food-img{
    width: 430px;
    height: auto;
    margin: 20px 20px 20px 20px;
}

.tittle{
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    font-family: serif;
    padding-top: 5%;
    padding-bottom: 2%;
}

.menu{
    display: flex;
    justify-content: center;
}

.menu_list{
    display: flex;
    justify-content: center;
}

.food_menu{
    font-size: 24px;
    text-align: center;
}

.food_contents{
    display: flex;
    flex-direction: column;
}

.staff-outer{
    width: 230px;
    background-color: sienna;
    border-radius: 10px;
}

.staff-img{
    width: 140px;
    height: auto;
    display: block;
    margin: auto;
    padding-top: 10%;
}

.staff-info-inner{
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-bottom: 100px;
}

.staff-name{
    text-align: center;
    font-family: serif;
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10%;
}

.evaluation{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-bottom: 170px;
  }
  .evaluation input[type='radio']{
    display: none;
  }
  .evaluation label{
    position: relative;
    padding: 10px 10px 0;
    color: gray;
    cursor: pointer;
    font-size: 50px;
  }
  .evaluation label .text{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
    color: gray;
  }
  .evaluation label:hover,
  .evaluation label:hover ~ label,
  .evaluation input[type='radio']:checked ~ label{
    color: #ffcc00;
  }

.footer{
    width: 100%;
    height: 50px;
    background-color: brown;
    position: fixed;
    bottom: 0;
}

.footer_p{
    color: white;
    font-family: serif;
    font-size: 20px;
    text-align: center;
}